/*===========================
    02.HEADER css 
===========================*/

/*===== NAVBAR =====*/

.header_navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sticky {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
    padding: 15px 0;
}

.navbar {
    padding: 25px 0;
    border-radius: 5px;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    width: 150px;
}

@media (max-width: 767px) {
    .navbar-brand img {
        width: 130px;
    }
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 5px 12px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 5px 12px;
    }
}

.navbar-nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.navbar-nav .nav-item {
    position: relative;
    margin-right: 40px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item {
        margin-right: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item {
        margin: 0;
    }
}

.navbar-nav .nav-item a {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a {
        display: block;
        padding: 8px 0;
        color: #283747;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item a {
        display: block;
        padding: 6px 0;
        color: #283747;
    }
}

.navbar-nav .nav-item a.active, .navbar-nav .nav-item a:hover {
    color: #F2A92C;
}

.navbar-nav .nav-item a.header-btn {
    padding: 12px 28px;
    border-radius: 30px;
    background: #F2A92C;
    color: #fff;
    display: inline-block;
}

.navbar-nav .nav-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item:hover .sub-menu {
        top: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item:hover .sub-menu {
        top: 0;
    }
}

.navbar-nav .nav-item .sub-menu {
    width: 200px;
    background-color: #747E88;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

.navbar-nav .nav-item .sub-menu li {
    display: block;
}

.navbar-nav .nav-item .sub-menu li a {
    display: block;
    padding: 8px 20px;
    color: #747E88;
}

.navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
    padding-left: 25px;
    color: #F2A92C;
}

.navbar-nav .sub-nav-toggler {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #222;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 767px) {
    .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #222;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px;
    }
}

.navbar-nav .sub-nav-toggler span {
    width: 8px;
    height: 8px;
    border-left: 1px solid #222;
    border-bottom: 1px solid #222;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
}

.sticky .navbar-toggler .toggler-icon {
    background-color: #283747;
}

.sticky .navbar-nav .nav-item a {
    color: #283747;
}

.sticky .navbar-nav .nav-item a::before {
    background-color: #F2A92C;
}

.sticky .navbar-nav .nav-item a.active, .sticky .navbar-nav .nav-item a:hover {
    color: #F2A92C;
}

.sticky .navbar-nav .nav-item a.header-btn {
    color: #fff;
}

/*============================
hero area css
============================= */

.hero-area {
    background-image: url("../images/hero-bg.jpg");
    position: relative;
    z-index: 1;
    padding: 280px 0 320px;
}

@media only screen and (min-width: 1400px) {
    .hero-area {
        padding: 200px 0;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .hero-area {
        padding: 200px 0px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-area {
        padding: 220px 0px 180px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area {
        padding: 220px 0px 180px;
    }
}

@media (max-width: 767px) {
    .hero-area {
        padding: 220px 0px 180px;
    }
}

.hero-area::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(40, 55, 71, 0.97);
    z-index: -1;
}

.hero-area .hero-content h2 {
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    color: #fff;
}

@media (max-width: 767px) {
    .hero-area .hero-content h2 {
        font-size: 42px;
        line-height: 52px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .hero-area .hero-content h2 {
        font-size: 55px;
        line-height: 65px;
    }
}

.hero-area .hero-content p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 35px;
}

.hero-area .hero-content a.main-btn {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.hero-area .hero-content a.main-btn:hover {
    background: #F2A92C;
    color: #fff;
}

.hero-area .hero-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    z-index: 1;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .hero-area .hero-left {
        width: 45%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-area .hero-left {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-left {
        display: none;
    }
}

@media (max-width: 767px) {
    .hero-area .hero-left {
        display: none;
    }
}

.hero-area .hero-left .shape {
    position: absolute;
    right: -40px;
    bottom: -40px;
    z-index: -1;
}

/*============================
skill css
============================= */

.skill-area {
    position: relative;
    z-index: 1;
}

.skill-area .single-skill {
    padding: 35px 30px;
    border-radius: 8px;
    background: #fff;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 30px rgba(229, 229, 229, 0.35);
    box-shadow: 0px 0px 30px rgba(229, 229, 229, 0.35);
}

.skill-area .single-skill:hover {
    -webkit-box-shadow: 0px 15px 61px rgba(229, 229, 229, 0.8);
    box-shadow: 0px 15px 61px rgba(229, 229, 229, 0.8);
}

.skill-area .single-skill .skill-icon {
    width: 87px;
    height: 87px;
    background: #fff;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 4px 33px rgba(229, 229, 229, 0.68);
    box-shadow: 0px 4px 33px rgba(229, 229, 229, 0.68);
}

.skill-area .single-skill .skill-icon i {
    font-size: 40px;
    color: #283747;
}

.skill-area .single-skill .skill-content h4 {
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 25px;
}

.skill-area .single-skill .skill-content p {
    font-weight: 300;
    line-height: 24px;
    font-size: 16px;
}