@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
:root {
    --clr-white: #fff;
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
    /* primary colors */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    /* Neutrals */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Public Sans', sans-serif;
    background: url(../images/bg-intro-mobile.svg) top center no-repeat, var(--very-light-gray);
    background-size: 100% 420px;
    max-width: 1440px;
    margin: auto;
    line-height: 1.5;
    font-size: 0.875rem;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
    color: var(--clr-primary-5);
}

h1, h2, h3, h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--grayish-blue);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1, h2, h3, h4 {
        line-height: 1;
    }
}

/*  global classes */

/* section */

.section {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
    .section {
        width: 95vw;
    }
}

/* 
========================================================== NAVBAR
*/

header {
    width: 100%;
    height: 64px;
    padding: 2.5rem;
    background: var(--white);
    z-index: 2;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburger {
    cursor: pointer;
}

#close {
    display: none;
    cursor: pointer;
}

header button {
    display: none;
}

nav {
    margin-top: 4.2rem;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 5px;
    display: none;
}

nav a {
    text-align: center;
    padding: 0.6rem 0;
    margin: 0 1rem;
    font-size: 1rem;
    color: var(--dark-blue);
    display: block;
}

nav a:hover {
    color: hsl(192, 70%, 51%);
}

#intro {
    padding: 1rem 1.5rem 8.75rem;
    text-align: center;
}

#mockup {
    width: 92%;
    height: 420px;
    object-fit: cover;
    position: absolute;
    top: -58px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}

#mockup-desktop {
    display: none;
}

/* nav {
    background: var(--white) !important;
}

.navbar {
    z-index: 2;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    margin: 2rem;
}

.navbar-collapse {
    background-image: url('../images/bg-intro-mobile.svg');
    background-size: cover;
} */

/* 
=============================================================== INTRO
*/

#intro {
    position: relative;
}

.image-area {
    /* position: absolute; */
    top: -7rem;
    order: 0 !important;
    z-index: 1;
}

#intro img {
    top: -2rem;
    position: relative;
}

.intro-text-area {
    /* position: absolute; */
    top: 25rem;
    text-align: center;
    order: 2;
}

.intro-img {
    margin: 0 auto;
    width: 90vw;
    height: 50vh;
    position: absolute;
    float: right;
    right: 0;
    top: 90rem;
}

.intro-btn, .nav-btn, .footer-btn {
    color: var(--white);
    border: hidden;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.intro-btn:hover, .nav-btn:hover, .footer-btn:hover {
    opacity: 0.5;
}

/* 
==========================================================REASON
*/

.reason {
    text-align: center;
    padding: 3rem 0;
    background-color: var(--light-grayish-blue);
    order: 3 !important;
}

.reason h2 {
    text-transform: none;
    color: var(--dark-blue);
}

.reason h4 {
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 400;
}

/* 
===================================================================+ARTICLE
*/

.section-heading {
    color: var(--dark-blue);
}

.article-section {
    padding: 4rem 0;
}

.article-body {
    padding: 1.5rem;
    background-color: var(--white);
}

.article-title {
    color: var(--dark-blue);
}

.article-title a:hover, footer a:hover {
    color: var(--lime-green);
}

/* 
====================================================================FOOTER
*/

footer {
    background-color: var(--dark-blue);
    padding: 2rem 0;
    text-align: center;
}

footer li {
    color: var(--very-light-gray);
    padding: 0;
    margin: 0;
}

footer ul {
    padding: 0;
}

footer p {
    color: var(--grayish-blue);
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links li {
    padding: 0 0.3rem;
}

.first-link {
    margin-bottom: 0;
}

.first-link li, .second-link li {
    margin: 0.5rem auto;
}

.second-link {
    margin-top: 0;
}

.content {
    text-align: center;
}

footer path:hover {
    fill: var(--lime-green);
}